@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Welcome fuckers</h1>
</div>

@*<div style="clear:both;">
	<button type="button">
		@Html.ActionLink("Test The Database", "TestDB", "Home")
	</button>
</div>*@